<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PollingEngine" type="PollingEngine.Core.PollingEngineConfigSection, PollingEngine.Core" />
    <section name="XbmcPoller" type="XbmcPoller.XbmcPollerConfigSection, XbmcPoller" />
    <section name="SteamActivityPoller" type="SteamPoller.SteamActivityPollerConfigSection, SteamPoller" />
    <section name="SteamReportPoller" type="SteamPoller.SteamReportPollerConfigSection, SteamPoller" />
  </configSections>
  <appSettings>
    <add key="Program.ProcessPoller" value="-1" />
  </appSettings>
  <connectionStrings>
    <add name="MyLifeDatabase" connectionString="Driver={SQL Server};Server=.;UID=Developer;PWD=123456789;Database=OdbcTest" />
    <add name="PollingDatabase" connectionString="Driver={SQL Server};Server=.;UID=Developer;PWD=123456789;Database=PollingData" />
    <!--<add name="PollingDatabase" connectionString="Driver={SQL Server};Server=.;AttachDbFilename=|DataDirectory|\Database.mdf;UID=Developer;PWD=123456789;Database=OdbcTest;Trusted_Connection=Yes;" />-->
  </connectionStrings>
  
  <PollingEngine>
    <Pollers>
      <add Type="XbmcPoller.XbmcPoller, XbmcPoller" Enabled="false" Interval="00:00:05" />
      <add Type="SteamPoller.SteamActivityPoller, SteamPoller" Enabled="false" Interval="00:00:10" />
      <add Type="SteamPoller.SteamReportPoller, SteamPoller" Enabled="true" Interval="00:01:00" />
    </Pollers>
  </PollingEngine>
  
  <!-- Poller settings -->
  <XbmcPoller>
    <Settings ApiBaseUrl="http://localhost:8082/jsonrpc" ApiUsername="xbmc" ApiPassword="e4d5exd5" 
              ConnString="Driver={SQL Server};Server=sourcetech.se;UID=Peter;PWD=123456789;Database=PeterPollingData" />
  </XbmcPoller>
  
  <SteamActivityPoller>
    <Settings SteamApiKey="511DFA79B7394CEFA286165D20C46FC1"
              ConnString="Driver={SQL Server};Server=.;UID=Developer;PWD=123456789;Database=PollingData">
      <Identities>
        <add SteamID="76561197994923014" /><!-- LazyTarget -->
        <!--<add SteamID="76561197969519652" /> Avac -->
        <!--<add SteamID="76561198000854855" /> Moerta -->
        <!--<add SteamID="76561198038673865" /> Exo -->
        <!--<add SteamID="76561198006316454" /> Richard -->
        <!--<add SteamID="76561198071019307" /> Snakeman -->
      </Identities>
    </Settings>
  </SteamActivityPoller>
  
  <SteamReportPoller>
    <Settings ConnString="Driver={SQL Server};Server=sourcetech.se;UID=Peter;PWD=123456789;Database=PeterPollingData">
      
    </Settings>
  </SteamReportPoller>
  
  
  
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>