<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PollingEngine" type="PollingEngine.Core.PollingEngineConfigSection, PollingEngine.Core"/>
    <section name="ProcessPoller" type="ProcessPoller.ProcessPollerConfigSection, ProcessPoller"/>
    <section name="XbmcPoller" type="XbmcPoller.XbmcPollerConfigSection, XbmcPoller"/>
    <section name="SteamActivityPoller" type="SteamPoller.SteamActivityPollerConfigSection, SteamPoller"/>
    <section name="SteamReportPoller" type="SteamPoller.SteamReportPollerConfigSection, SteamPoller"/>
  </configSections>
  <appSettings>
    <add key="Program.ProcessPoller" value="15"/>
  </appSettings>
  <connectionStrings>
    <add name="MyLifeDatabase" connectionString="Driver={SQL Server};Server=sourcetech.se;UID=Peter;PWD=123456789;Database=PeterPollingData"/>
    <add name="PollingDatabase" connectionString="Driver={SQL Server};Server=sourcetech.se;UID=Peter;PWD=123456789;Database=PeterPollingData"/>
  </connectionStrings>
  
  <PollingEngine>
    <Pollers>
      <add Type="XbmcPoller.XbmcPoller, XbmcPoller" Enabled="false" Interval="00:00:05"/>
      <add Type="SteamPoller.SteamActivityPoller, SteamPoller" Enabled="false" Interval="00:00:10"/>
    </Pollers>
  </PollingEngine>
  
  <!-- Poller settings -->
  <XbmcPoller>
    <Settings ApiBaseUrl="http://localhost:8082/jsonrpc" ApiUsername="xbmc" ApiPassword="e4d5exd5" ConnString="Driver={SQL Server};Server=sourcetech.se;UID=Peter;PWD=123456789;Database=PollingData"/>
  </XbmcPoller>
  
  <ProcessPoller>
    <Settings DataApiBaseUrl="http://localhost:5227/api"/>
  </ProcessPoller>
  
  <SteamActivityPoller>
    <Settings SteamApiKey="511DFA79B7394CEFA286165D20C46FC1" ConnString="Driver={SQL Server};Server=.;UID=Developer;PWD=123456789;Database=PollingData">
      <Identities>
        <add SteamID="76561197994923014"/><!-- LazyTarget -->
      </Identities>
    </Settings>
  </SteamActivityPoller>
  
  <SteamReportPoller>
    <Settings ConnString="Driver={SQL Server};Server=.;UID=Developer;PWD=123456789;Database=PollingData">
      
    </Settings>
  </SteamReportPoller>
  
  
  
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
